// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
$min-screen-width: 1045px;

.navbar {
  display: flex;
  align-items: center;
  padding: 1vw;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  img{
    width: 50px;
    height: 50px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}
.navLinks{
  display: none;
  @media only screen and (min-width: $min-screen-width) {
    display: flex;
    flex: 1;
    justify-content: space-between;
    ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex: 1;
      a {
        color: white;
      }
      .hiddenDropDown{
        display: none;
      }
    }
  }
}

.menuIcon {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex: 1;
  .collapsedNavbar{
    display: none;
  }
  i {
    color: white;
    cursor: pointer;
  }
  &:hover {
    .collapsedNavbar{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #343433;
      height: 100%;
      width: 25vw;
      &:hover {
        @extend .collapsedNavbar;
      }
    }
  }
  @media only screen and (min-width: $min-screen-width) {
    display: none;
  }

}
